#attrModificatorContainer{
   position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99999;
  opacity:1;
  -webkit-transition: display 400ms ease-in;
  transition: display 400ms ease-in;
  display:none;
}

#attrModificator{
border-radius:2px;
position:absolute;
font-size:24px;
display:inline-block;
padding:5px;
background: -webkit-linear-gradient(#fff, #999);
}

#attrModificator label{
 font-size:18px;
}

#attrModificator  input:not([type=button]), #attrModificator  textarea, #attrModificator  button,#attrModificator  select{
  float:right;
 }
 
#attrModificator p{
  margin:5px 0;
}

#attrModificator>p:nth-child(2){
   clear: right;
}

#attrModificator>p:last-child {
  text-align:right;
}