body .bodyPrincipal{
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
	width: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	height: auto;
}

#interfazDeEdicion{
	position:relative;
	top: 50px;
	width:100%;
	min-height:100%;
} 
 
.seleccionado{
	outline: #949494 thin dashed !important; 
} 

.divInput{
    display:inline-block;
	position: relative;
}

.divInputHelp{
    position:absolute; 
	left:10%;
	right:10%; 
	top:10%;
	bottom:10%;
}