body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

#interfazDeEdicion{
	position:relative;
	top: 50px;
	width:100%;
	min-height:100%;
} 
 
.over {
	/*border: 2px dashed #000;*/
}
 
.seleccionado{
	background-color:red !important; 
} 