.SelectorDeClases .izquierdaAbajo {
padding: 10px;
float: right;
width: 80px;
font-size: 15px;
font-weight: bold;
}
.SelectorDeClases {
margin: 20px;
}
.objectClassesContainer div {
margin: 10px 3px;
display: inline-block;
}
.objectClassesContainer div input{
	display: none;
	width: 60px;
	height: 20px;
}
/*Texto para ponerlo en los tags*/
.textoDeLaClase {
	-moz-box-shadow: 0px 0px 9px -5px #fff6af;
	-webkit-box-shadow: 0px 0px 9px -5px #fff6af;
	box-shadow: 0px 0px 9px -5px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:3px 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #ffee66;
}
.textoDeLaClase:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.textoDeLaClase:active {
	position:relative;
	top:1px;
}

/*boton para eliminar clases*/
.eliminarEstaClaseMolesta {
	-moz-box-shadow: 0px 0px 9px -5px #fff6af;
	-webkit-box-shadow: 0px 0px 9px -5px #fff6af;
	box-shadow: 0px 0px 9px -5px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffaa22;
	display:inline;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffee66;
}
.eliminarEstaClaseMolesta:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.eliminarEstaClaseMolesta:active {
	position:relative;
	top:1px;
}
