.tools  {
  width: 100px;
  position:fixed;
  top:0;
  border: none;
}

.tools button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 75px;
  height: 75px;
  border: none
}

.tools button:not(.G) {
  -webkit-transform: rotate(-180deg) scale(0);
  -moz-transform: rotate(-180deg) scale(0);
  -o-transform: rotate(-180deg) scale(0);
  transform: rotate(-180deg) scale(0);
  opacity: 0;
}

.tools:hover button {
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  opacity: 1;
}

.tools:hover button.G{
  -webkit-transform: rotate(0) scale(2) translate(15px, 15px);
  -moz-transform: rotate(0) scale(2) translate(15px, 15px);
  -o-transform: rotate(0) scale(2) translate(15px, 15px);
  transform: rotate(0) scale(2) translate(15px, 15px);
}

.tools button.G{
  background:url('../img/logo50.png') no-repeat;
  width: 50px;
  height: 50px;
}

.tools button.conf {
  /*background:url('../img/setup.png') no-repeat;*/
  background:url('../img/config.png') no-repeat;
  -webkit-transform-origin: -52px 50px;
  -moz-transform-origin: -52px 50px;
  -o-transform-origin: -52px 50px;
  transform-origin: -52px 50px;
  position: absolute;
  top: 0px;
  right: -85px;
}

.tools button.download {
  /*background:url('../img/descarga.png') no-repeat;*/
  background:url('../img/descargar1.png') no-repeat;
  -webkit-transform-origin: -100px -100px;
  -moz-transform-origin: -100px -100px;
  -o-transform-origin: -100px -100px;
  transform-origin: -100px -100px;
  position: absolute;
  top: 90px;
  left: 90px;
}

.tools button.prev {
  /*background:url('../img/preview.png') no-repeat;*/
  background:url('../img/preview2.png') no-repeat;
  -webkit-transform-origin: 0px -140px;
  -moz-transform-origin: 0px -140px;
  -o-transform-origin: 0px -140px;
  transform-origin: 0px -140px;
  position: absolute;
  bottom: -140px;
  left: 0;
}